<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Slim 3</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <style>
            body {
                margin: 50px 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-align: center;
                color: #aaa;
                font-size: 18px;
            }

            h1 {
                color: #719e40;
                letter-spacing: -3px;
                font-family: 'Lato', sans-serif;
                font-size: 100px;
                font-weight: 200;
                margin-bottom: 0;
            }
        </style>
    </head>
    <body>
        <h2>Busqueda de empleados</h2>
        <form action="/empleados/busqueda" method="GET">
            <label for="email">Ingrese un email</label>
            <input type="text" name="email" required>
            <button>Buscar</button>
        </form>
        <hr>
        <h2>Lista de empleados:</h2>
        <table border="1" style="width 500px; margin: 0 auto;">
            <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Position</th>
            <th>Salary</th>
            <th>Option</th>
            </thead>
            <tbody>

            <tr>
                <td><?php echo $empleado['name']?></td>
                <td><?php echo $empleado['email']?></td>
                <td><?php echo $empleado['position']?></td>
                <td><?php echo $empleado['salary']?></td>
                <td><a href="/empleados/id?id=<?php echo $empleado['id']?>">detail</a></td>
            </tr>

            </tbody>
        </table>

    </body>
</html>
