<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Slim 3</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <style>
            body {
                margin: 50px 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-align: center;
                color: #aaa;
                font-size: 18px;
            }

            h1 {
                color: #719e40;
                letter-spacing: -3px;
                font-family: 'Lato', sans-serif;
                font-size: 100px;
                font-weight: 200;
                margin-bottom: 0;
            }
        </style>
    </head>
    <body>
        <h2>Detalle</h2>

        <label> <b>Name : </b> <?php echo $empleado['name']?></label><br>
        <label><b>Email : </b><?php echo $empleado['email']?></label><br>
        <label><b>Phone : </b><?php echo $empleado['phone']?></label><br>
        <label><b>Address  : </b><?php echo $empleado['address']?></label><br>
        <label><b>Position  :</b> <?php echo $empleado['position']?></label><br>
        <label><b>Salary  : </b><?php echo $empleado['salary']?></label><br>
        <label><b>Skills  : </b><?php
            foreach ($empleado['skills'] as $skill){
                echo $skill['skill'].', ';
            }
            ?></label>
    </body>
</html>
